.loading-screen {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: #808080a1;
}

.side-menu {
  height: 100%;
  background: rgba(0, 0, 0, 0.485);
  width: 80%;
  position: absolute;
  left: -80%;
  top: 0;
  transition: all 250ms ease-in-out;
  display: flex;
  flex-direction: column;
}

.side-menu.active {
  height: 100%;
  background: black;
  width: 80%;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 5px 0px 10px 10px #0000004a;
  z-index: 2;
}

.side-menu .menu-btn-container {
  height: 40px;
  width: 40px;
  align-self: flex-end;
}

.side-title h2 {
  color: white;
  text-align: center;
}

.side-teams {
  box-sizing: border-box;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  overflow-y: scroll;
  flex: 1 0 0;
  margin: 0;
}

.side-menu-item {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.51);
  position: relative;
}

.side-menu-item h3 {
  font-size: 26px;
  line-height: 30px;
  margin: 0px;
  position: relative;
}

.hidden-text h3,
.hidden-text p {
  color: black;
  position: relative;
}

.side-menu-item p {
  font-weight: 700;
  font-size: 16px;
  margin: 0;
  position: relative;
}

.team-logo {
  position: absolute;
  width: 100px;
  height: 54px;
  left: 0px;
  background: white;
  border-radius: 0 50px 50px 0;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 250ms ease-in-out;
}

.team-logo img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  position: absolute;
  right: 20px;
}

.side-link {
  width: 100%;
  height: 100%;
  display: flex;
  text-decoration: none;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 10px;
  padding: 10px 0;
}

a.active .team-logo {
  width: 100%;
}

.hidden-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -100px;
  transition: all 250ms ease-in-out;
}

a.active .hidden-text {
  left: 0;
}

section.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  align-items: center;
  background: #c73e75;
}

.menu-btn-container {
  height: 40px;
  width: 40px;
}

button.btn-menu {
  background: none;
  border: none;
  width: 100%;
  height: 100%;
}

.navbar h4 {
  color: #fff;
}
